.intro {
	background:colors(white) url(../img/layout/intro_bg.jpg);
	background-size:400px 300px;
	background-attachment:fixed;
	border-bottom:solid 1px #eee;
	color:colors(black);
	@include modular_scale("padding",40 0 20 0);
	@include modular_scale("margin", 0 0 10 0);
	text-align:center;
	@include prefix('box-sizing',border-box);
	
	p {
		@include modular_scale("margin", 10 0);
	}
}

.listing {
	background:colors(white);
	border:solid 1px #ddd;
	color:#fff;
	display:block;
	overflow:hidden;
	position:relative;
	@include prefix('border-radius', 3px);
	
	.snap {
		background-color:#000;
		background-repeat:no-repeat;
		background-size:100% auto;
		img {
			opacity:0;
		}
	}

	.info {
		border-top:solid 1px #ddd;
		color:colors(black);
		display:block;
		@include modular_scale("font-size",3);
		@include modular_scale("padding", 2);
		text-align:right;
		
		.title {
			color:#ccc;
			float:left;
			overflow: hidden;
			text-align:left;
			text-overflow: ellipsis;
		  	white-space: nowrap;
			width:50%;
		}
		
		.link,
		.details {
			color:colors(black);
			position:absolute;
			text-align:center;
			
			.icons  {
				background:rgba(255,255,255,0.95);
				border:solid 1px #eee;
				line-height:32px;
				top:6px;
				width:32px;
				@include prefix('border-radius',50%);	
			}
		}
		
		.link {
			top:48px;
			right:8px;
		}

		.details {
			top:8px;
			right:8px;
		}
	}
	
	.actions {
		.icons {
			top:4px;
			margin:0 2px 0 8px;
		}
	}
	

}

.pagination {
	@include modular_scale("padding",10 0);
	text-align:center;
}

.gallery {
	background:#22242d;
	color:colors(white);
	overflow:hidden;
	@include modular_scale("padding",5 5 2 5);
	
	.snap-shot {
		display:block;
		@include prefix('box-shadow', 0 0 8px rgba(0,0,0,1));
	}
	
	.previews {
		
		a {
			display:block;
			@include modular_scale("margin",0 4 0 0);
			opacity:0.4;
			overflow:hidden;
			position:absolute;
			height:400px;
			top:140px;
			width:800px;
			@include prefix('box-shadow', 0 0 8px rgba(0,0,0,1));
			@include prefix('transition', opacity 0.3s ease);

			&:hover {
				opacity:1;
			}
			
			&:first-child {
				left:-840px;
			}
			
			&:last-child {
				right:-860px;
			}
		}

		a.home {
			background:colors(white);
			color:#999;
			display:block;
			@include modular_scale("height",4);
			font-weight:weight(semibold);
			@include modular_scale("padding",4 0 7 0);
			text-align:center;
		}
	}
	
	.palette {
		margin-top:-12px;
		overflow:hidden;

		.name {
			color:#ccc;
			@include modular_scale("font-size",3);
			font-weight:weight(semibold);
			position:relative;
			z-index:9;
		}

		.swatches {
			border:solid 2px #fff;
			display:block;
			height:24px;
			float:left;
			@include modular_scale("margin",0 2 2 0);
			width:24px;
			@include prefix('border-radius', 50%);
			@include prefix('box-shadow', 0 0 8px rgba(0,0,0,0.6));
		}
	}
}

.wallpaper {
	background:colors(white);
	color:colors(black);
	@include modular_scale("padding", 26 5 5 5);
	position:relative;
	
	.bg {
		background:colors(pink);
		height:200px;
		left:0;
		position:absolute;
		overflow:hidden;
		top:0;
		right:0;
	}
	
	.circle {
		border:solid 4px #fff;
		display:inline-block;
		@include modular_scale("margin", 6 4 4 4);
		overflow:hidden;
		max-width:120px;
		@include prefix('border-radius', 50%);
	}
}



/* Stepped Form Component */
.custom-form {
	margin:0;
	min-height:200px;
	padding:0;
	position:relative;
	
	input {
		background:transparent;
		border:none;
		@include modular_scale("font-size",16); 
		font-weight:weight(bold);
		padding:0;
		@include modular_scale("line-height",16); 
		letter-spacing:-0.020em;
	}
	
	@include breakpoint(mobile) {
		input {
			@include modular_scale("font-size",8);
			@include modular_scale("line-height",8);
		}
	}
	
	.clue {
		color:#999;
		font-weight:weight(regular);
		span {
			color:colors(black);
			font-weight:weight(semibold);
		}
	}
	
	.error {	
		color:colors(red);
		@include modular_scale("font-size",4);
		letter-spacing:0;
		@include modular_scale("line-height",4); 
		font-weight:weight(semibold);
		@include modular_scale("margin",3 0);
		opacity:0;
		position: absolute;
		-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
		   -moz-transition: opacity 0.3s, -moz-transform 0.3s;
				transition: opacity 0.3s, transform 0.3s;
		-webkit-transform: translate3d(0,-4px,0);
		   -moz-transform: translate3d(0,-4px,0);
				transform: translate3d(0,-4px,0);
	}
	
	label {
		display:inline-block;
		@include modular_scale("font-size",7); 
		font-weight:weight(bold);
		@include modular_scale("line-height",6);
		letter-spacing:-0.020em;
		
		&:after {
			border: 2px solid rgba(0,0,0,0.4);
			@include prefix("border-radius",50%);
			color: rgba(0,0,0,0.4);
			content: 'i';
			cursor: pointer;
			display: inline-block;
			font-weight:weight(bold);
			font-style: italic;
			@include modular_scale("font-size",4);
			font-family: Georgia, serif;
			@include modular_scale("line-height",5);
			@include modular_scale("margin",0 0 0 2);
			pointer-events: auto;
			position: relative;
			text-align: center;
			@include modular_scale("top",-1);
			@include modular_scale("width",5);
		}
		
		@include breakpoint(mobile) {
			&:after {
				border:none;
				background:rgba(0,0,0,0.4);
					color:#fff;
				@include modular_scale("font-size",3);
				@include modular_scale("line-height",4);
				top:-4px;
				@include modular_scale("width",4);
			}
		}
		
		&:before {
			bottom: 100%;
			content: attr(data);
			color: rgba(0,0,0,0.6);
			left: 0;
			@include modular_scale("font-size",4);
			font-weight:weight(regular);
			@include modular_scale("line-height",4);
			@include modular_scale("padding",1 0);
			pointer-events: none;
			position: absolute;
			opacity: 0;
			-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
			   -moz-transition: opacity 0.3s, -moz-transform 0.3s;
					transition: opacity 0.3s, transform 0.3s;
			-webkit-transform: translate3d(0,-4px,0);
			   -moz-transform: translate3d(0,-4px,0);
					transform: translate3d(0,-4px,0);
		}
		
		&:hover {
			&::before {
				opacity: 1;
				@include prefix('transform',translate3d(0,0,0));
			}
		}
	}
	
	@include breakpoint(mobile) {
		label {
			@include modular_scale("font-size",4);
			@include modular_scale("line-height",3);
		}
	}
	
	
	
	.rows {
		@include modular_scale("margin",0 0 14 0);
	}
	
	li.active {
		display:block;
	}
	
	li {
		left: 0px;
		list-style-type:none;
		margin:0;
		display:none;
		padding:0;
		position:absolute;
		top: 50%;
		right:0px;
	}
	
	li.complete {
		display:none;
	}
}

@include breakpoint(mobile) {
	.custom-form {
		min-height:100px;
	}
}