body {
	background:#f9f9f9;
}

header {
	background:colors(white);
	border-top:solid 3px colors(pink);
	border-bottom:solid 1px #eee;
	left:0px;
	@include modular_scale("padding",0 3);
	position:fixed;
	right:0px;
	top:0px;
	z-index:999;
	
	.brand {
		background:url(../img/layout/snapme_brand_logo.png) no-repeat center 15px;
		background-size:54px 30px;
		float:left;
		height:60px;
		width:80px;
	}
}

main {
	min-height:400px;
	@include modular_scale("padding",15 0 15 0);
}

menu {
	float:right;
	
	a {
		color:colors(black);
		display:inline-block;
		@include modular_scale("padding",4 3);
		
		&:hover {
			color:colors(black);
		}
	}
}

nav {
	float:left;
	margin:0;
	padding:0;
	
	a {
		color:colors(black);
		display:inline-block;
		@include modular_scale("padding",4 3);
		
		&:hover {
			color:colors(black);
		}
	}
}

@include breakpoint(mobile) {
	nav {
		display:none;
	}
}

search {
	padding:0;
	position:absolute;
	left:400px;
	right:160px;
	max-width:400px;
	
	form {
		margin:0;
		padding:8px;
		position:relative;
		
		input[type="search"] {
			font-weight:weight(light);
			padding:8px 4px;
		}

		input[type="submit"] {
			background:transparent;
			font-family:"Entypo";
			font-size:32px;
			padding:0;
			position:absolute;
			right:15px;
			top:15%;
		}
	}	
}

@include breakpoint(mobile) {
	search {
		left:100px;
		right:0;
	}
}

body.open {
	
	.overlay {
		opacity:1;
		visibility:visible;
		
		.modal {
			opacity:1;

			.container {
				@include prefix('transform',scale(1));
			}
		}
	}

}

.overlay{
	background:rgba(255,255,255,0.94);
	bottom:0;
	left:0;
	opacity:0;
	position:fixed;
	right:0;
	top:0;
	visibility:hidden;
	z-index:99999;
	
	.close-modal {
		color:colors(black);
		position:absolute;
		right:8px;
		top:8px;
		@include prefix('transform', rotate(45deg));
	}
	
	.modal {
		display:inline-block;
		left:0;
		opacity:0;
		position:absolute;
		right:0;
		top: 50%;
		@include prefix('transition', all 0.5s ease);
		@include prefix('transform',translate(0%, -50%));
		
		@media only screen and (min-width: 0px) and (max-width: 760px) { 
			.container {
			}
		}

		.container {
			background: url(../img/layout/snapme_brand_logo.png) no-repeat center 25px;
			background-size:100px 56px;
			margin:0 auto;
			padding:120px 0 0 0;
				min-width:320px;
				max-width:760px;
			@include prefix('transform',scale(0.7));
			@include prefix('transition', all 0.5s ease);

			form {
				margin:0; 
				text-align:center;


				input[type="text"],
				input[type="password"] {
					background:transparent;
					border-radius:0;
					border:none;
					display:inline-block;
					letter-spacing:-0.04em;
					@include modular_scale("font-size", 12);
					font-weight:weight(bold);
					margin:0;
					text-align:center;
				}

				label {
					@include modular_scale("font-size", 3);
					@include modular_scale("margin",0);
					text-align:center;
					
					strong {
						color:#ccc;
						display:block;
						text-transform:uppercase;
						margin-bottom:-24px;
						position:relative;
						top:-24px;
					}
				}

				.space {
					@include modular_scale("padding",3);
				}
			}
		}
	}
}



footer {
	background:#fff;
	border-top:solid 1px #eee;
	clear:both;
	@include modular_scale("padding",20 0);
	
	a {
		color:#999;
		display:block;
		@include modular_scale("font-size",4);
	}
}