body {
	background:#f9f9f9;
}

header {
	background:colors(white);
	border-top:solid 3px colors(pink);
	border-bottom:solid 1px #eee;
	left:0px;
	@include modular_scale("padding",0 3);
	position:fixed;
	right:0px;
	top:0px;
	z-index:999;
	
	.brand {
		background:url(../img/layout/snapme_brand_logo.png) no-repeat center 15px;
		background-size:54px 30px;
		float:left;
		height:60px;
		width:80px;
	}
}

main {
	min-height:400px;
	@include modular_scale("padding",15 0 50 0);
}

menu {
	float:right;
	
	a {
		color:colors(black);
		display:inline-block;
		@include modular_scale("padding",4 3);
		
		&:hover {
			color:colors(black);
		}
	}
}

nav {
	float:left;
	margin:0;
	padding:0;
	
	a {
		color:colors(black);
		display:inline-block;
		@include modular_scale("padding",4 3);
		
		&:hover {
			color:colors(black);
		}
	}
}

@include breakpoint(mobile) {
	nav {
		display:none;
	}
}

footer {
	background:#fff;
	border-top:solid 1px #eee;
	clear:both;
	@include modular_scale("padding",20 0);
	
	a {
		color:#999;
		display:block;
		@include modular_scale("font-size",4);
	}
}