@import 'mixins';

/* Fonts */
@font-face {
	font-family:"Proxima-Nova";
	src: local("ProximaNova-Regular"),
		 local("ProximaNova Regular"),
		 local("Proxima Nova Regular"),
	     url("../fonts/proximanova-regular-webfont.otf") format("opentype"),
	     url("../fonts/proximanova-regular-webfont.ttf") format("truetype"),
	     url("../fonts/proximanova-regular-webfont.woff") format("woff"),
	     url("../fonts/proximanova-regular-webfont.svg#proximanova-regular-webfont") format("svg");
	font-weight:400;
	font-style:normal;
}

@font-face {
	font-family:"Proxima-Nova";
	src: local("ProximaNova-Bold"),
		 local("ProximaNova Bold"),
		 local("Proxima Nova Bold"),
	     url("../fonts/proximanova-bold-webfont.otf") format("opentype"),
	     url("../fonts/proximanova-bold-webfont.ttf") format("truetype"),
	     url("../fonts/proximanova-bold-webfont.woff") format("woff"),
	     url("../fonts/proximanova-bold-webfont.svg#iefix") format("svg");
	font-weight:700;
	font-style:normal;
}

@font-face {
	font-family:"Entypo";
	src: local("Entypo"),
		 url("../fonts/entypo.ttf") format("truetype"),
		 url("../fonts/entypo.woff") format("woff"),
		 url("../fonts/entypo.eot"),
		 url("../fonts/entypo.svg#entypo") format("svg");
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family:"EntypoSocial";
	src: local("Entypo-Social"),
		 url("../fonts/entypo-social.ttf") format("truetype"),
		 url("../fonts/entypo-social.woff") format("woff"),
		 url("../fonts/entypo-social.eot"),
		 url("../fonts/entypo-social.svg#entypo") format("svg");
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family:"Proxima-Nova";
	src: local("ProximaNova-Thin"),
		 local("ProximaNova Thin"),
		 local("Proxima Nova Thin"),
	     url("fonts/proximanova-thin-webfont.otf") format("opentype"),
	     url("fonts/proximanova-thin-webfont.ttf") format("truetype"),
	     url("fonts/proximanova-thin-webfont.woff") format("woff"),
	     url("fonts/proximanova-thin-webfont.svg#iefix") format("svg");
	font-weight:100;
	font-style:normal;
}

@font-face {
	font-family:"Proxima-Nova";
	src: local("ProximaNova-Light"),
		 local("ProximaNova Light"),
		 local("Proxima Nova Light"),
	     url("../fonts/proximanova-light-webfont.otf") format("opentype"),
	     url("../fonts/proximanova-light-webfont.ttf") format("truetype"),
	     url("../fonts/proximanova-light-webfont.woff") format("woff"),
	     url("../fonts/proximanova-light-webfont.svg#iefix") format("svg");
	font-weight:200;
	font-style:normal;
}



@font-face {
	font-family:"Proxima-Nova";
	src: local("ProximaNova-Semibold"),
		 local("ProximaNova Semibold"),
		 local("Proxima Nova Semibold"),
	     url("../fonts/proximanova-semibold-webfont.otf") format("opentype"),
	     url("../fonts/proximanova-semibold-webfont.ttf") format("truetype"),
	     url("../fonts/proximanova-semibold-webfont.woff") format("woff"),
	     url("../fonts/proximanova-semibold-webfont.svg#iefix") format("svg");
	font-weight:600;
	font-style:normal;
}

@font-face {
	font-family:"Proxima-Nova";
	src: local("ProximaNova-Extrabold"),
		 local("ProximaNova Extrabold"),
		 local("Proxima Nova Extrabold"),
	     url("../fonts/proximanova-extrabold-webfont.otf") format("opentype"),
	     url("../fonts/proximanova-extrabold-webfont.ttf") format("truetype"),
	     url("../fonts/proximanova-extrabold-webfont.woff") format("woff"),
	     url("../fonts/proximanova-extrabold-webfont.svg#iefix") format("svg");
	font-weight:800;
	font-style:normal;
}

@font-face {
	font-family:"Proxima-Nova";
	src: local("ProximaNova-Black"),
		 local("ProximaNova Black"),
		 local("Proxima Nova Black"),
	     url("../fonts/proximanova-black-webfont.otf") format("opentype"),
	     url("../fonts/proximanova-black-webfont.ttf") format("truetype"),
	     url("../fonts/proximanova-black-webfont.woff") format("woff"),
	     url("../fonts/proximanova-black-webfont.svg#iefix") format("svg");
	font-weight:900;
	font-style:normal;
}

@font-face {
	font-family:"Playfair-Display";
	src: local("playfairdisplay-regular-webfont"),
	     local("Playfair Display Regular"),
	     url("../fonts/playfairdisplay-regular-webfont.otf") format("opentype"),
	     url("../fonts/playfairdisplay-regular-webfont.ttf") format("truetype"),
	     url("../fonts/playfairdisplay-regular-webfont.woff") format("woff"),
	     url("../fonts/playfairdisplay-regular-webfont.svg#iefix") format("svg");
	font-weight:400;
	font-style:normal;
}

@font-face {
	font-family:"Playfair-Display";
	src: local("playfairdisplay-bold-webfont"),
	     local("Playfair Display Bold"),
	     url("../fonts/playfairdisplay-bold-webfont.otf") format("opentype"),
	     url("../fonts/playfairdisplay-bold-webfont.ttf") format("truetype"),
	     url("../fonts/playfairdisplay-bold-webfont.woff") format("woff"),
	     url("../fonts/playfairdisplay-bold-webfont.svg#iefix") format("svg");
	font-weight:700;
	font-style:normal;
}

@font-face {
	font-family:"Playfair-Display";
	src: local("playfairdisplay-black-webfont"),
	     local("Playfair Display Black"),
	     url("../fonts/playfairdisplay-black-webfont.otf") format("opentype"),
	     url("../fonts/playfairdisplay-black-webfont.ttf") format("truetype"),
	     url("../fonts/playfairdisplay-black-webfont.woff") format("woff"),
	     url("../fonts/playfairdisplay-black-webfont.svg#iefix") format("svg");
	font-weight:800;
	font-style:normal;
}

/* Global */
html {
	@include modular_scale("font-size",4);
	height:100%;
	-webkit-text-size-adjust:100%; 
	    -ms-text-size-adjust:100%; 
		 	text-size-adjust:100%;
	-webkit-text-rendering:optimizeLegibility;
	   -moz-text-rendering:optimizeLegibility;
			text-rendering:optimizeLegibility;
}

@media only screen and (min-width: 0px) and (max-width: 760px) { 
	html {
		@include modular_scale("font-size",4);
	}
}

body {
	font-family:fonts(primary);
	font-size:100%;
	font-weight:weight(book);
	@include modular_scale("line-height",7);
	word-wrap: break-word;
	-moz-osx-font-smoothing: grayscale;
	@include prefix("font-smoothing", "antialiased");
	@include prefix("hyphens", "auto");
}

@media only screen and (min-width: 0px) and (max-width: 1000px) { 
	body {	
		-webkit-touch-callout: none;  
		@include prefix("user-select", "none");
	}
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
    /* Retina-specific body weights & smoothing */
	body {
		@include prefix("font-smoothing", "antialiased");
	}
}

/* Mozilla based browsers */
p::-moz-selection {
       background-color: #b4d5fe;
       color: #222;
}

/* Works in Safari */
p::selection {
       background-color: #b4d5fe;
       color: #222;
}

/* Headlines */
h1, h2, h3, h4, h5 { font-weight:700; text-indent:-2px; }
h1 { 
	@include modular_scale("font-size",12); 
	@include modular_scale("line-height",11); 
	letter-spacing:-0.020em;
}
h2 { 
	@include modular_scale("font-size",9); 
	@include modular_scale("line-height",7);
	letter-spacing:-0.020em;
}
h3 { 
	@include modular_scale("font-size",7); 
	@include modular_scale("line-height",6);
	letter-spacing:-0.020em;
}
h4 { 
	@include modular_scale("font-size",5); 
	@include modular_scale("line-height",5);
	letter-spacing:-0.020em;
}
h5 { 
	@include modular_scale("font-size",4); 
	@include modular_scale("line-height",4);
	letter-spacing:-0.020em;
}

@include breakpoint(mobile) {
	h1, h2, h3, h4, h5 { font-weight:700; text-indent:-2px; }
	h1 { 
		@include modular_scale("font-size",9); 
		@include modular_scale("line-height",8); 
		letter-spacing:-0.020em;
	}
	h2 { 
		@include modular_scale("font-size",9); 
		@include modular_scale("line-height",7);
		letter-spacing:-0.020em;
	}
	h3 { 
		@include modular_scale("font-size",7); 
		@include modular_scale("line-height",6);
		letter-spacing:-0.020em;
	}
	h4 { 
		@include modular_scale("font-size",5); 
		@include modular_scale("line-height",5);
		letter-spacing:-0.020em;
	}
	h5 { 
		@include modular_scale("font-size",4); 
		@include modular_scale("line-height",4);
		letter-spacing:-0.020em;
	}
}

.semi { font-weight:weight(semibold); }
.normal { font-weight:weight(book); }
.light { font-weight:weight(extralight); }

/* Hyperlinks */

a { 
	color: colors(gold); 
	-webkit-tap-highlight-color: rgba(0,0,0,0); 
	@include prefix("transition", "border, color 0.3s ease");
}
	a:hover { color:colors(gold); }
	
	p a[href^="http://"]:not([href*="localhost:8888"]):not([class*="button"])::after {
		background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAPFJREFUeNrs2OEJwjAQBeBTHMBRHMFRsllGqRt0lI5QIyiIaGrTu3fp8R5cfxWSj6O5UBG/5FKzYrkmR4FoYiQKRqJgJApGomC6y7nUtHfIAzG2dORQHlflzdw2IIZSl9aFZ/GfsM2deF/XG6KBcIesQUy9QtYgxuf7uTdIC2JpzsDP5C2IGgYK0UD8wsAgmohvGAjEAvGJMYdYIl4ZrCEIRPWKsjuEFQSOsIC4ICwgLggLSPJAWH0jCY2wPLUSEmE9RxIKgZjsCYHwuMav3ctfP0eOEiSEEEIIIYQQQgghhBCymFPlOs2OEEJIIMhdgAEADbswz/ZOWYAAAAAASUVORK5CYII=);
		background-size:10px 10px;
		content: "";
		display:inline-block;
		@include modular_scale("height", 3);
		@include modular_scale("margin", 0 1);
		@include modular_scale("width", 3);
	}


/* Paragraphs */

p { 
	hyphenate: auto;
	hyphenate-lines: 3;
	@include modular_scale("font-size",5);
	@include modular_scale("line-height",7);
	@include modular_scale("margin", 6 0);
	letter-spacing:-0.020em;
	word-spacing: 0.025em;
	word-wrap:normal;
}

p:before, p:after { 
	content: ""; 
	display: block; 
	@include modular_scale("height", 0);
	@include modular_scale("margin", 0);
}

p a {
    margin: -.5em;
    padding: .5em;
    position: relative;
}

p.lead {
	@include modular_scale("margin", 0);
	@include modular_scale("font-size",7);
	font-weight:weight(extralight);
	letter-spacing:-0.020em;
	@include modular_scale("line-height",9);
	@include modular_scale("margin", 9 0);
}

@media only screen and (min-width: 0px) and (max-width: 760px) { 
	p.lead {
		@include modular_scale("font-size",5);
		@include modular_scale("line-height",6);
		@include modular_scale("margin", 6 0);
	}
}

.hint {
	@include modular_scale("font-size",3);
	@include modular_scale("line-height",5);
	font-weight:weight(book);
	-webkit-font-smoothing: subpixel-antialiased; 
			font-smoothing: subpixel-antialiased;
}

@media only screen and (min-width: 0px) and (max-width: 760px) { 
	.hint {
		@include modular_scale("font-size",3);
	}
}

b, strong, caption, th, thead, dt, legend { 
	font-weight:weight(bold);
}

cite, dfn, em, i { 
	font-style:italic;
}

code, kbd, samp, pre, tt, var { 
	font-family:mono-space, monospace;
	@include modular_scale("font-size",4);
	@include modular_scale("line-height",6);
}

del { 
	text-decoration:line-through;
}

ins	{ 
	color: #f00;
}

sup, sub { 
	font-size:80%; 
	line-height:0;
}

sup { 
	vertical-align:super;
}
sub {
	vertical-align:sub; 
}

abbr, abbr[title], acronym[title], dfn[title] { 
	border-bottom:dotted 1px #ccc; 
	cursor:pointer;
}

code {
	background:#f6f6f6;
	border:solid 1px #ededed;
	color:#B8A45F;
	display:inline-block;
	@include modular_scale("font-size",3);
	@include modular_scale("line-height",4); 
	@include modular_scale("margin", -1 0);
	@include modular_scale("padding", 0 1);
	-webkit-border-radius:3px;
	   -moz-border-radius:3px;
			border-radius:3px;
}

blockquote { 
	border-left: 3px solid colors(gold);
	color:#222;
	font-family:fonts(secondary);
	font-style:italic;
	font-weight:weight(extralight);
	letter-spacing:0px;
	@include modular_scale("font-size",4);
	@include modular_scale("line-height",8); 
	@include modular_scale("margin", 7 0);
	@include modular_scale("padding", 1 0 2 5);
	position:relative;
	quotes: "\201C" "\201D";
}

address {
	@include modular_scale("line-height",5);
	@include modular_scale("margin", 5 0);
}
address a,
address span { display:block; }

/* Lists */
/* Add classes so that this does not automatically apply, since lists are sometimes used for layout */
ul, ol { 
	@include modular_scale("margin", 5 0 5 4);
}

ol ol,
ul ul,
ol ul,
ul ol { @include modular_scale("margin", 0 0 0 5); }

ul li {
	list-style: disc outside;
}

ol li {
	list-style: decimal outside;
}

dt, dl { @include modular_scale("line-height",5); }
dt { @include modular_scale("margin", 3 0 0 0); }
dl { @include modular_scale("margin", 0 0 3 0); }