@import 'functions';

$settings: (
	scale:		4,
	base_url:	"localhost:8888/core/"
);

$fonts: (
	base: 		settings(scale) * 4,
	primary:	""Proxima-Nova",Helvetica, Arial, Sans-Serif",
	secondary:	""Roboto Slab", serif"
);

$colors: (
	white:	#FFFFFF,
	black:	#000000,
	blue:	#397CA0,
	gold:	#B8A45F,
	green:	#6f9942,
	red:	#E74C3C,
	pink:	#f2726d,
	gray-10:#333333
);

$weight: (
	extralight: 100,
	light: 200,
	book: 300,
	regular: 400,
	medium: 500,
	semibold:600,
	bold:700,
	black:800,
	extrabold:900
);