/* Fonts */
@font-face {
	font-family:"Proxima-Nova";
	src: local("ProximaNova-Regular"),
		 local("ProximaNova Regular"),
		 local("Proxima Nova Regular"),
	     url("fonts/proximanova-regular-webfont.otf") format("opentype"),
	     url("fonts/proximanova-regular-webfont.ttf") format("truetype"),
	     url("fonts/proximanova-regular-webfont.woff") format("woff"),
	     url("fonts/proximanova-regular-webfont.svg#proximanova-regular-webfont") format("svg");
	font-weight:400;
	font-style:normal;
}

@font-face {
	font-family:"Proxima-Nova";
	src: local("ProximaNova-Bold"),
		 local("ProximaNova Bold"),
		 local("Proxima Nova Bold"),
	     url("fonts/proximanova-bold-webfont.otf") format("opentype"),
	     url("fonts/proximanova-bold-webfont.ttf") format("truetype"),
	     url("fonts/proximanova-bold-webfont.woff") format("woff"),
	     url("fonts/proximanova-bold-webfont.svg#iefix") format("svg");
	font-weight:700;
	font-style:normal;
}

@font-face {
	font-family:"Entypo";
	src: local("Entypo"),
		 url("../fonts/entypo.ttf") format("truetype"),
		 url("../fonts/entypo.woff") format("woff"),
		 url("../fonts/entypo.eot"),
		 url("../fonts/entypo.svg#entypo") format("svg");
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family:"EntypoSocial";
	src: local("Entypo-Social"),
		 url("../fonts/entypo-social.ttf") format("truetype"),
		 url("../fonts/entypo-social.woff") format("woff"),
		 url("../fonts/entypo-social.eot"),
		 url("../fonts/entypo-social.svg#entypo") format("svg");
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family:"Proxima-Nova";
	src: local("ProximaNova-Thin"),
		 local("ProximaNova Thin"),
		 local("Proxima Nova Thin"),
	     url("fonts/proximanova-thin-webfont.otf") format("opentype"),
	     url("fonts/proximanova-thin-webfont.ttf") format("truetype"),
	     url("fonts/proximanova-thin-webfont.woff") format("woff"),
	     url("fonts/proximanova-thin-webfont.svg#iefix") format("svg");
	font-weight:100;
	font-style:normal;
}

@font-face {
	font-family:"Proxima-Nova";
	src: local("ProximaNova-Light"),
		 local("ProximaNova Light"),
		 local("Proxima Nova Light"),
	     url("fonts/proximanova-light-webfont.otf") format("opentype"),
	     url("fonts/proximanova-light-webfont.ttf") format("truetype"),
	     url("fonts/proximanova-light-webfont.woff") format("woff"),
	     url("fonts/proximanova-light-webfont.svg#iefix") format("svg");
	font-weight:200;
	font-style:normal;
}



@font-face {
	font-family:"Proxima-Nova";
	src: local("ProximaNova-Semibold"),
		 local("ProximaNova Semibold"),
		 local("Proxima Nova Semibold"),
	     url("fonts/proximanova-semibold-webfont.otf") format("opentype"),
	     url("fonts/proximanova-semibold-webfont.ttf") format("truetype"),
	     url("fonts/proximanova-semibold-webfont.woff") format("woff"),
	     url("fonts/proximanova-semibold-webfont.svg#iefix") format("svg");
	font-weight:600;
	font-style:normal;
}

@font-face {
	font-family:"Proxima-Nova";
	src: local("ProximaNova-Extrabold"),
		 local("ProximaNova Extrabold"),
		 local("Proxima Nova Extrabold"),
	     url("fonts/proximanova-extrabold-webfont.otf") format("opentype"),
	     url("fonts/proximanova-extrabold-webfont.ttf") format("truetype"),
	     url("fonts/proximanova-extrabold-webfont.woff") format("woff"),
	     url("fonts/proximanova-extrabold-webfont.svg#iefix") format("svg");
	font-weight:800;
	font-style:normal;
}

@font-face {
	font-family:"Proxima-Nova";
	src: local("ProximaNova-Black"),
		 local("ProximaNova Black"),
		 local("Proxima Nova Black"),
	     url("fonts/proximanova-black-webfont.otf") format("opentype"),
	     url("fonts/proximanova-black-webfont.ttf") format("truetype"),
	     url("fonts/proximanova-black-webfont.woff") format("woff"),
	     url("fonts/proximanova-black-webfont.svg#iefix") format("svg");
	font-weight:900;
	font-style:normal;
}

@font-face {
	font-family:"Playfair-Display";
	src: local("playfairdisplay-regular-webfont"),
	     local("Playfair Display Regular"),
	     url("fonts/playfairdisplay-regular-webfont.otf") format("opentype"),
	     url("fonts/playfairdisplay-regular-webfont.ttf") format("truetype"),
	     url("fonts/playfairdisplay-regular-webfont.woff") format("woff"),
	     url("fonts/playfairdisplay-regular-webfont.svg#iefix") format("svg");
	font-weight:400;
	font-style:normal;
}

@font-face {
	font-family:"Playfair-Display";
	src: local("playfairdisplay-bold-webfont"),
	     local("Playfair Display Bold"),
	     url("fonts/playfairdisplay-bold-webfont.otf") format("opentype"),
	     url("fonts/playfairdisplay-bold-webfont.ttf") format("truetype"),
	     url("fonts/playfairdisplay-bold-webfont.woff") format("woff"),
	     url("fonts/playfairdisplay-bold-webfont.svg#iefix") format("svg");
	font-weight:700;
	font-style:normal;
}

@font-face {
	font-family:"Playfair-Display";
	src: local("playfairdisplay-black-webfont"),
	     local("Playfair Display Black"),
	     url("fonts/playfairdisplay-black-webfont.otf") format("opentype"),
	     url("fonts/playfairdisplay-black-webfont.ttf") format("truetype"),
	     url("fonts/playfairdisplay-black-webfont.woff") format("woff"),
	     url("fonts/playfairdisplay-black-webfont.svg#iefix") format("svg");
	font-weight:800;
	font-style:normal;
}