@import 'mixins';

body {
	width: 320px;
	height:400px;
	overflow-x: hidden;
}

article {
	.branding {
		display:block;
		outline:solid 1px blue;
		margin:0;
	}

	#wrapper {
		padding:1px 10px;
		position:relative;
		outline:solid 1px red;
	}
}

label {
	font-weight:weight(semibold);
	@include modular_scale("font-size",3);
	letter-spacing:0.01em;
	
	.label {
		position:relative;
		top:8px;
	}
	
	.forgot {
		position:absolute;
		@include modular_scale("right",3);
		text-decoration:underline;
		@include modular_scale("padding",3);
	}
	
	.toggle-password {
		position:relative;
		text-decoration:underline;
		top:-4px;
	}
	
	a {
		color:colors(black);
		
		&:hover {
			color:#999;
		}
	}
}